{% extends "base.html.twig" %}

{% block body %}

  <div class="wrapper" >
    <div class="formContent" >
          <h2>Ajouter une chambre </h2>
        {{form_start(form)}}
          <div class="form-group">
            <div class="pb-2">
              {{form_row(form.numChambre,{'attr':{ 'Placeholder': 'Entrer Le numéro de chambre'}} )}}
            </div>
            <div>
              {{form_row(form.numEtage ,{'attr':{ 'Placeholder': 'Entrer Le numéro de l\'étage'}} )}}
            </div>
          </div>
          <div class="form-group">
            <div class="pb-2">
              {{form_row(form.typeChambre)}}
            </div>
            <div>
              {{form_row(form.pavillon)}}
            </div>
          </div>
          <input type="submit" class="" value="{{ editMode ? "Modifier la chambre" : 'Ajouter la chambre'  }} ">
        {{form_end(form)}}
    </div>
  </div>
{% endblock %}
